/* FONT */
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


#homePage {
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
#imageCarousel {
    height: calc(100% - 50px);
    width: 100%;
    background: transparent;
    position: relative;
}
#imageCarousel .carousel,
#imageCarousel .carousel-inner,
#imageCarousel .carousel-item {
    height: 100%;
}
#imageCarousel .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#imageCarousel .carousel-control-next,
#imageCarousel .carousel-control-prev {
    max-width: 100px;
    cursor: pointer;
}
#imageCarousel .carousel-indicators li {
    cursor: pointer;
    height: 5px;
    width: 55px;
}
#imageCarousel .title-over {
    
    font-family: 'Dancing Script', cursive;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
#imageCarousel .save-date {
    padding: 15px 30px;
    border-top: 4px dotted #FAFAFA;
    border-bottom: 4px dotted #FAFAFA;
    font-family: "Oswald", "Montserrat", sans-serif;
    font-size: 2em;
    line-height: 14px;
    letter-spacing: 0.44em;
    color: #FFF;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
}
#imageCarousel .save-date:after {
    content: "";
    background: #FFF;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}
#imageCarousel .save-date::before {
    content: "";
    background: #FFF;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}
.name {
    font-family: "Dancing Script", "Oswald", "Montserrat", sans-serif;
    list-style: none;
    width: 100%;
    font-size: 3.53em;
    color: #FFF;
    font-weight: 300;
    padding: 0px;
    display: flex;
    text-align: center;
}
.name li {
    display: inline-block;
    flex: 1;
}
.name li:first-of-type {
    text-align: right;
}
.name li:first-of-type span {
    margin-right: 10px;
}
.name li:last-of-type {
    text-align: left;
}
.name li:last-of-type span {
    margin-left: 10px;
}
#imageCarousel .title-over .wrapper {
    width: 50%;
    min-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#imageCarousel .title-over .wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}
.name .and {
    background: #f9667e;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 63px;
    font-weight: normal;
    border-radius: 50%;
    margin: 0px;
    color: #FFF;
    flex: unset;
}
.date {
    font-size: 3em;
    color: #FFF;
    margin-bottom: 8px;
}
.date span {
    font-size: 1.2em;
    font-weight: bold;
    color: #f9667e;
    border-bottom: solid 2px #f9667e;
}
@media (max-width: 767px) {
    #imageCarousel .save-date {
        font-size: 1.3em;
    }
    #imageCarousel .title-over .wrapper {
        min-width: 100%;
    }
    #imageCarousel .title-over .name {
        font-size: 3em;
        text-align: center;
        margin-bottom: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .date {
        font-size: 2em;
    }
    .carousel-indicators {
        bottom: -6px;
    }
}
#mainPage {
    position: relative;
}
#menuNav {
    height: 50px;
    background-color: #779ecb;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
}
.navigation__link {
    color: #FFF;
    font-size: 1em;
    padding: 6px 10px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    text-decoration: none;
    transition: 0.2s ease;
}
.navigation__link.active {
    background-color: #0000001a;
    color: #FFF;
    border-top: 4px solid #4477b2;
}
.navigation__link:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #00000010;
    color: #FFF;
    border-top: 4px solid #4477b2e7;
}
.nav__link-list {
    display: flex;
    height: 100%;
}
.nav__link-list.open {
    display: block;
    border-top: 2px solid;
    border-bottom-left-radius: 6px;
    min-width: 150px;
    animation: open-nav 0.5s;
}
@keyframes open-nav {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.nav__link-list.open .navigation__link {
    border-top: none !important;
}
.goToTop {
    position: fixed !important;
    top: 0;
    height: 70px;
    z-index: 2;
}
#menuNav .brand {
    flex: 1;
    display: flex;
    align-self: center;
    justify-items: flex-start;
}
#menuNav .brand .name {
    font-size: 1.5em;
    margin: 0;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}
#menuNav .brand .and {
    font-size: 20px;
    width: 30px;
    height: 30px;
}
#menuNav .brand .name.sm {
    display: none;
}
@media (max-width: 902px) {
    #menuNav .brand .name.sm {
        display: inline-block;
        width: 200px;
        font-size: 1em;
    }
    #menuNav .brand .name {
        /* display: none; */
        font-size: 1em;
    }
    .nav__link-list {
        display: block;
        position: absolute;
        height: unset;
        top: 50px;
        z-index: 999;
        background: #769ecb;
        display: none;
    }
}


/* FLIP CLOCK */
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
 .flipClock {
    display: flex;
    justify-content: space-between;
    width: 450px;
}
 .flipUnitContainer {
    display: block;
    position: relative;
    width: 90px;
    height: 80px;
    font-size: 3.5em;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-perspective: 300px;
    perspective: 300px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 10px 10px -10px grey;
}
 .upperCard, .lowerCard {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 50%;
    overflow: hidden;
    border: 1px solid whitesmoke;
}
 .upperCard span, .lowerCard span {
    /* font-size: 5em; */
    font-family: "Droid Sans Mono", monospace;
    font-weight: lighter;
    color: #333333;
}
 .upperCard {
    align-items: flex-end;
    border-bottom: 0.5px solid whitesmoke;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
 .upperCard span {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}
 .lowerCard {
    align-items: flex-start;
    border-top: 0.5px solid whitesmoke;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
 .lowerCard span {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
 .flipCard {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
 .flipCard span {
    font-family: "Droid Sans Mono", monospace;
    /* font-size: 5em; */
    font-weight: lighter;
    color: #333333;
}
 .flipCard.unfold {
    top: 50%;
    align-items: flex-start;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid whitesmoke;
    border-top: 0.5px solid whitesmoke;
}
 .flipCard.unfold span {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
 .flipCard.fold {
    top: 0%;
    align-items: flex-end;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 0.5px solid whitesmoke;
    border-bottom: 0.5px solid whitesmoke;
}
 .flipCard.fold span {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}
 .fold {
    -webkit-animation: fold 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
    animation: fold 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
 .unfold {
    -webkit-animation: unfold 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
    animation: unfold 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
@media (max-width: 767px) {
    .flipClock {
        width: 300px;
    }
    .flipUnitContainer {
        width: 70px;
        height: 56px;
        font-size: 3em;
    }
}

 @-webkit-keyframes fold {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}
 @keyframes fold {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}
 @-webkit-keyframes unfold {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}
 @keyframes unfold {
    0% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

.hamburger-icon {
    width: 40px;
    height: 26px;
    margin-right: 10px;
    position: relative;
}
.hamburger-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamburger-icon span:nth-child(2) {
    top: 11px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamburger-icon span:nth-child(3) {
    top: 22px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamburger-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 5px;
}
.hamburger-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
.hamburger-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
    left: 5px;
}



.mainPage .title {
    padding-top: 20px;
    font-size: 2em;
    text-align: center;
    font-family: "Dancing Script", cursive;
    position: relative;
}
.mainPage .title:after {
    content: "";
    height: 2px;
    width: 100px;
    background: orangered;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 50px);
}
.mainPage .title span {
    color: orangered;
}


/* CONTENT */
#content {
    font-size: 1em;
}

/* ABOUT */

.img {
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url("../images/avatar.jpg");
    background-size: cover;
}
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 0;
}
#about {
    background: #f4f4f4;
    color: #7b7571;
    font-family: "Dancing Script", cursive;
}
#about .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
}

#about .header {
    color: #7b7571;
}
#about .description {
    text-align: center;
    padding-top: 20px;
    font-size: 1.2em;
    font-family: "Dancing Script", cursive;
}

#story {
    font-family: "Dancing Script", cursive;
}
#story > .row {
    padding-top: 40px;
    font-size: 1.5em;
    padding-bottom: 20px;
}
.story-item .heart {
    position: absolute;
    top: 3px;
    left: -36px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid orangered;
    z-index: 1;
}
.story-item .heart img {
    width: 50px;
    height: 50px;
}
.story-item img {
    width: 100%;
    object-fit: cover;
}
.story-item .right {
    border-left: 2px solid orangered;
    position: relative;
}
.story-item .left {
    padding-right: 60px;
    padding-top: 15px;
}
.story-item .right {
    padding-left: 60px;
    padding-top: 15px;
}
.story-item .left.event {
    text-align: right;
}
.story-item .left.event .heart {
    left: unset;
    right: -36px;
}
.story-item .right.event {
    text-align: left;
}
.story-item .event h2 {
    font-size: 1.5em;
    font-family: "Oswald", "Dancing Script", cursive;
    color: orangered;
}
.story-item .event h3 {
    font-size: 0.6em;
    font-family: "Oswald", "Dancing Script", cursive;
    color: orangered;
}
@media (max-width: 768px) {
    .story-item .image {
        order: 2;
        border-left: 2px solid orangered;
        padding-left: 60px;
        padding-right: 15px;
    }
    .story-item .event {
        order: 1;
        text-align: left !important;
        padding-left: 60px;
        padding-right: 15px;
        padding-bottom: 20px;
        border-left: 2px solid orangered;
    }
    .story-item .event .heart {
        right: unset !important;
        left: -36px !important;
    }
}
@media (max-width: 576px) {
    .story-item {
        padding-left: 40px;
    }
}


.qoute {
    min-height: 400px;
    background-image: url("../images/bg-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    font-family: "Oswald", "Dancing Script";
    font-size: 3em;
    color: #7b7571;
}

#event > .row {
    padding-top: 20px;
}
.event-row {
    font-size: 1.2em;
    font-family: "Dancing Script", cursive;
}
.event-row > div:first-of-type {
    text-align: left;
}
.event-row img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}
.flex-row {
    display: flex;
    align-items: center;
    min-height: 30px;
}
.event-row h2 {
    font-size: 1.5em;
    padding-top: 10px;
    font-family: "Oswald", "Dancing Script", cursive;
    color: orangered;
}
.flex-row img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.sep {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.sep > div {
    width: 100px;
    height: 2px;
    background: orangered;
}